body{
    background-color: gray;
    
}

.bgi {
    position: relative;
    text-align: top;
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 35px
    
    ;

}
.centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-family: Roboto;
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.navbar li {
	display:block;
	width:120px;
	float:left;
	margin-left:0px;
	border:1px solid black;    
}

.navbar a {
	display:block;
	padding:2px;
	text-decoration:none;
	background-color:gray;
	color:black;
}

.navbar a:hover {
	background-color:white;
	color:navy;
}

.name {
    text-align: center;
    margin: auto;
    font-size: x-large;
}

.img {
    float: left;
    margin: 10px;
}

.img2 {
    float: left;
    margin: 10px;
}

.p {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "roboto"     
}

.p1 {
    text-align: justify;
    padding-top: 7px;
    padding-right: 100px;
    
    
}
.p2 {
    text-align: justify;
    padding-top: 7px;
    padding-right: 100px;
}

h2{
    margin-top: 100px;
}